name: iOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test
    runs-on: macos-latest

    steps:
      - name: 猬锔 Checkout repository
        uses: actions/checkout@v3

      - name:  Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.2'

      - name: 锔 Disable all Swift Package signature verifications
        run: |
          echo "З Desactivando verificaci贸n de firmas de paquetes Swift..."
          # Desactiva verificaci贸n de colecci贸n de paquetes
          defaults write com.apple.dt.Xcode IDEPackageCollectionCertificateCheck -bool false
          
          # Desactiva verificaci贸n de firmas de paquetes individuales
          mkdir -p ~/.swiftpm
          echo '{"disableSignatureValidation": true}' > ~/.swiftpm/config.json
          
          # Resuelve las dependencias del proyecto
          xcodebuild -resolvePackageDependencies -project PlatziStore.xcodeproj -scheme PlatziStore

      - name: П Build app
        run: xcodebuild clean build -project PlatziStore.xcodeproj -scheme PlatziStore -destination 'platform=iOS Simulator,name=iPhone 14'

      - name: И Run tests
        run: xcodebuild test -project PlatziStore.xcodeproj -scheme PlatziStore -destination 'platform=iOS Simulator,name=iPhone 14'
